
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

.sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  right: 3;
  bottom: 0;
  background-color: whitesmoke;
  font-size: 25px;
  color: black;

}

.sidebar ul {
  list-style: none;
padding-left: 0px;
padding-right: 2px;
}

.page-content {
  margin-left: 200px;
}

body{
font-family: 'Lora', serif;
font-size: 25px;
padding: 30px;
font-weight: bold;
}

h1, h2, h3 {
font-family: 'Roboto', sans-serif;
font-weight: bold;
}

h2 {
color: white;
font-weight: bold;
text-align: center;
}

h3 {
font-size: 20px;
text-align: center;
}


a{
text-decoration:none ;
}

#logo {
width: 200px;
height: 250px;
border-radius: 50%;
}
